
{% for food in food_list %}
    <tr>
        <td>Day {{ forloop.counter }}</td>
        <td id="day{{ forloop.counter }}-breakfast" class="draggable" draggable="true"
            ondragstart="drag(event)"
            ondrop="drop(event)" ondragover="allowDrop(event)" ondragenter="highlight(event)"
            ondragleave="removeHighlight(event)">
            {{ food.breakfast }}
            <button class="btn btn-sm btn-secondary refresh-button" onclick="refresh(event)">↺
            </button>
        </td>
        <td id="day{{ forloop.counter }}-lunch" class="draggable" draggable="true"
            ondragstart="drag(event)"
            ondrop="drop(event)" ondragover="allowDrop(event)" ondragenter="highlight(event)"
            ondragleave="removeHighlight(event)">
            {{ food.lunch }}
            <button class="btn btn-sm btn-secondary refresh-button" onclick="refresh(event)">↺
            </button>
        </td>
        <td id="day{{ forloop.counter }}-dinner" class="draggable" draggable="true"
            ondragstart="drag(event)"
            ondrop="drop(event)" ondragover="allowDrop(event)" ondragenter="highlight(event)"
            ondragleave="removeHighlight(event)">
            {{ food.dinner }}
            <button class="btn btn-sm btn-secondary refresh-button" onclick="refresh(event)">↺
            </button>

        </td>
    </tr>
{% endfor %}
