<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Table</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            padding: 10px;
            text-align: center;
            border: 1px solid #ddd;
        }

        th {
            background-color: #f2f2f2;
            font-weight: bold;
        }

        tr:nth-child(even) {
            background-color: #f9f9f9;
        }
    </style>
</head>
<body>
<h2 style="align-content: center">Food Table</h2>
    <table>
        <tr>
            <th>Day</th>
            <th>Breakfast</th>
            <th>Lunch</th>
            <th>Dinner</th>
        </tr>
        <tbody>
            {% for food in food_list %}
            <tr>
                <td>{{ food.day }}</td>
                <td>{{ food.breakfast }}</td>
                <td>{{ food.lunch }}</td>
                <td>{{ food.dinner }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
